body{ background-color: orange;}

footer {
    background-color: black; font-family: 'Times New Roman', Times, serif; color: orange;
}

h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

.hero {
    background: url(hamburger6.jpeg) no-repeat;
    background-size: cover;
    height: 500px;
    min-height: 600px;
    color: white;
}

a {
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

nav {
    background: black;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    background-color: black;
    font-family: 'Times New Roman';
    text-decoration: none;
    font-size: 1.2rem;
    color: orange;
    transition: all .2s ease-in-out;
    display: block;
}

.lista-novedades li a img {
    width: 90px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1.4rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.testimonios{
    background-color: #dadada;
    padding-bottom: 4rem !important;
}

.testimonio { text-align: center;
padding: 50px 20px ;
}